body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #0b0b0b;
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    background: #000;
    border-bottom: 1px solid #222;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: #00ffb0;
}

.nav-links a {
    margin-left: 20px;
    color: #00f7ff;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    color: #00ffb0;
}

/* HERO */
.hero {
    text-align: center;
    padding: 140px 20px;
    background: linear-gradient(120deg, #001f35, #000);
}

.title {
    font-size: 48px;
    animation: fadeIn 1.5s;
}

.subtitle {
    font-size: 20px;
    color: #cccccc;
    margin-bottom: 20px;
}

.btn-main {
    background: #00ffb0;
    padding: 15px 30px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

/* FEATURES */
.features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
    gap: 25px;
}

.feature-box {
    background: #111;
    padding: 25px;
    width: 280px;
    border-radius: 12px;
    text-align: center;
    border: 1px solid #222;
    transition: 0.4s;
}

.feature-box:hover {
    transform: scale(1.05);
    background: #141414;
}

/* DASHBOARD */
.chart-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 25px;
    padding: 25px;
}

.chart-box {
    background: #111;
    padding: 15px;
    border-radius: 10px;
}

/* PORTFOLIO */
.portfolio-container {
    padding: 30px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background: #000;
    margin-top: 40px;
    border-top: 1px solid #222;
}

/* ANIMATIONS */
@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(30px); }
    100% { opacity: 1; transform: translateY(0); }
}
